@model MWH.Service.MD.EmployeeService
@using MWH.App_Code;
@{
    var formID = Guid.NewGuid().ToString();
    var formID2 = Guid.NewGuid().ToString();
    var data = ViewBag.Data as List<MWH.Core.Entities.T_MD_EMPLOYEE>;
}
<style>
    .btn1:hover {
        background-color: #007bff;
    }

    input, select {
        max-width: none;
    }
</style>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Danh sách nhân viên</h3>
    </div>
    <div class="card-header">
        <a href="@Url.Action("Create", "Employee")" class="btn btn-primary">Thêm mới</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="#example2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Mã nhân viên</th>
                    <th>Tên nhân viên</th>
                    <th>Email nhân viên</th>
                    <th>Số điện thoại</th>
                    <th>Kho hàng</th>

                    <th style="text-align:center;">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (data != null)
                {
                    foreach (var item in data)
                    {
                        <tr>
                            <td>@item.CODE</td>
                            <td class="vertical-center">
                                @item.NAME_EMPLOYEE
                            </td>
                            <td>@item.EMAIL</td>
                            <td>@item.PHONE_EMPLOYEE</td>
                            <td>@item.ID_WAREHOUSE</td>

                            <td style="width:200px; text-align:center;">
                                <a href="@Url.Action("Update", "Employee", new {id = item.ID_EMPLOYEE})"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="#" onclick="Delete('@item.ID_EMPLOYEE')"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

<script>
    function showLoading() {
        document.getElementById('loading-overlay').style.display = 'block';
    }

    function hideLoading() {
        document.getElementById('loading-overlay').style.display = 'none';
    }
    showLoading()
    setTimeout(hideLoading, 1000);
</script>
<script>
    $(function () {

        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
    function submit() {
        $("#btn_submit").click();
    }

    function Delete(id) {
        swal({
            title: "Bạn chắc chắn xóa nhân viên này?",
            text: "Sau khi xóa danh sách nhân viên sẽ được cập nhật lại!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: "/Employee/Delete",
                    type: "POST",
                    data: { EmployeeID: id },
                    success: function (response) {
                        if (response && response.success) {
                            swal(response.message, {
                                icon: "success",
                            }).then(() => {
                                window.location.href = "/Employee/Index";
                            });
                        } else {
                            swal(response.message, {
                                icon: "error",
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        swal("Có lỗi xảy ra khi gửi yêu cầu xóa!", {
                            icon: "error",
                        });
                    }
                });
            } else {
                // Nếu người dùng không đồng ý xóa, hiển thị thông báo swal
                return;
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('#DM').removeClass("menu-close");
        $('#DM').addClass("menu-open");
        $('.nav-link').removeClass("active");
        $('#' + "DMLink").addClass('active');

        $('#' + "NV").addClass('active');
    });
</script>
